!!! 5
%html
%head
	%title Pinnterest
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js'
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to image_tag('fakepin.png'), root_path, class: 'pintrestlogo'
			= form_tag pins_path, class: "form-inline", method: :get do
				.navbar-form.navbar-left
					.input-group.input-group-lg
						= text_field_tag :query, params[:query], class: "form-control", id: "pin_search", autocomplete: "off", placeholder: "Find Your Everything"
						.input-group-btn
							= submit_tag "Search", class: "btn btn-danger sb"
							%span.glyphicon.glyphicon-search

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Pin Something!", new_pin_path
					%li= link_to current_user.email, edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path

	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"

		= yield